.search-module {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
    border-radius: 32px;
    position: absolute;
    margin-top: 10px;
    top: 100%;
    background: white;
}