.stay-info-summary {
    @include stay-info-layout-padding();

    img {
        width: 16px;
        height: 16px;
    }

    .row {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    p {
        font-size: 16px;
        line-height: 23px;

        &.summary {
            padding-top: 32px;
            padding-bottom: 0;
        }
    }
}