.main-layout {
    --layout-padding: 5rem;

    @media screen and (max-width: 1400px) {
        --layout-padding: 2.5rem;
    }

    @media screen and (max-width: $mobile-size) {
        --layout-padding: 24px;
    }

    display: grid;
    grid-template-columns: var(--layout-padding) 1fr var(--layout-padding);

    >* {
        grid-column: 2;
    }

    .full-bleed {
        width: 100%;
        grid-column: 1/4;
    }
}

.stay-layout {
    --layout-padding: 275px;

    display: grid;
    grid-template-columns: 1fr 1120px 1fr;

    >* {
        grid-column: 2;
    }

    .full-bleed {
        width: 100%;
        grid-column: 1/4;
    }

    @media screen and (max-width: $tablet-size) {
        --layout-padding: 40px;
        grid-template-columns: var(--layout-padding) 1fr var(--layout-padding);
    }

    @media screen and (max-width: $mobile-size) {
        --layout-padding: 24px;
    }
}